<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>形意智能</Name>
    <Version>8.3.1</Version>
    <Title>形意智能</Title>
    <Publisher>北京晓天信达科技有限公司</Publisher>
    <!-- Directory name is used in component.xml -->
    <StartMenuDir>形意智能</StartMenuDir>
	<TitleColor>#FFFFFF</TitleColor>
    <TargetDir>@ApplicationsDirX64@/HelloAnim</TargetDir>
	<InstallerWindowIcon>logo.png</InstallerWindowIcon>
	<InstallerApplicationIcon>installericon</InstallerApplicationIcon>
	<Watermark>background.png</Watermark>
	<WizardStyle>Modern</WizardStyle>
	<Banner>background-s.png</Banner>
	<StyleSheet>style.qss</StyleSheet>
	<ControlScript>controlscript.js</ControlScript>
	<RemoteRepositories>
		 <Repository>
				 <Url>https://harepository.oss-cn-beijing.aliyuncs.com/</Url>
				 <Enabled>1</Enabled>
				 <DisplayName>Example repository</DisplayName>
		 </Repository>
	</RemoteRepositories>
	<!--AdminRights>true</AdminRights-->
    <Translations>
        <Translation>ifw_zh_CN</Translation>
		<Translation>qt_zh_CN</Translation>
    </Translations>
</Installer>
